@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap');
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Azeret Mono', monospace;
}
header {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
}
.header-top  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}
.logo {
    text-align: center;
    font-size: 22px;
}
.menu {
    display: flex;
}
.header-bottom {
    height: 92vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}   
ul{
    list-style-type: none;
}
ul li{
    transition-duration: 1s;
    margin-right: 30px;
}
li:hover {
    transform: scale(1.2);
}
.welcome {
    font-size: 48px;
}
.welcome-description {
    font-size: 20px;
}
.btn {
    padding: 10px;  
    color: white;
}
.btn-block {
    border: white 3px solid;
    color: white;
    margin-top: 20px;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.8s;
}
.btn-block:hover {
    transform: scale(1.2);
}
a {
    text-decoration: none;
}
.welcome-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content-top {
    text-align: center;
    padding: 100px 0px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.content-bottom {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 30px;
    margin-left: 30px;
    padding: 0px 0px 100px;
}
.main-circle {
    padding-right: 30px;
}
.block-circle {
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle {
    height: 100px;
    width: 100px;
    border: black 1px solid;
    border-radius: 50%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    transition-duration: 1s;
}

.circle:hover {
    transform: scale(1.2);
    background-color: rgb(209, 44, 44);
    color: white;
}
#border {
    border-bottom: black solid 2px;
    width: 100px;
    height: 4px;
    margin-bottom: 5px;
}
footer {
    width: 100%;
    height: 200px;
    background-color: rgb(209, 44, 44);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-content {
    text-align: center;
}
.footer-content-top {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-networks-circle {
    border: white 1px solid;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 8px 10px 0px;
    transition-duration: 0.8s;
}
.social-networks-circle:hover {
    transform: scale(1.5);
}
.footer-content-bottom {
    color: white;
}